In [6]:
class employees:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age= age
        self.salary=salary 
        self.gender =  gender
        
    def show1_employee_details(self):
        print("the name of employee is ",self.name)
        print("the age of employee is ",self.age)
        print("the salary of employee is ",self.salary)
        print("the gender of employee is ",self.gender)
        
        
    def show2_employee_details(self):
        print("the name of employee is ",self.name)
        print("the age of employee is ",self.age)
        print("the salary of employee is ",self.salary)
        print("the gender of employee is ",self.gender)
    def show3_employee_details(self):
        print("the name of employee is ",self.name)
        print("the age of employee is ",self.age)
        print("the salary of employee is ",self.salary)
        print("the gender of employee is ",self.gender)
    def show4_employee_details(self):
        print("the name of employee is ",self.name)
        print("the age of employee is ",self.age)
        print("the salary of employee is ",self.salary)
        print("the gender of employee is ",self.gender)

In [7]:
emp1= employees('sachin',22,15000,'male')
emp2= employees ('ram',35,25000,'male')
emp3= employees('shayam',23,35000,'male')
emp4= employees('rakesh',40,45000,'male')

In [8]:
emp1.show1_employee_details()

the name of employee is  sachin
the age of employee is  22
the salary of employee is  15000
the gender of employee is  male

In [9]:
emp2.show2_employee_details()

the name of employee is  ram
the age of employee is  35
the salary of employee is  25000
the gender of employee is  male

In [10]:
emp2.show3_employee_details()

the name of employee is  ram
the age of employee is  35
the salary of employee is  25000
the gender of employee is  male

In [11]:
emp3.show3_employee_details()

the name of employee is  shayam
the age of employee is  23
the salary of employee is  35000
the gender of employee is  male

In [12]:
emp1.show4_employee_details()

the name of employee is  sachin
the age of employee is  22
the salary of employee is  15000
the gender of employee is  male