

# task 3


# through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [3]:
l1=[33,333,'sachin','ram']
#1] APPEND()
l1.append("sachin shekhawat")
print(l1)

[33, 333, 'sachin', 'ram', 'sachin shekhawat']

In [6]:
#2] REMOVE()
l1.remove(333)
print(l1)

[33, 'sachin', 'ram']

In [8]:
#3 COUNT()
l1.count(33)

1

In [15]:
#4  CLEAR()
l2= ['ram''lakhan ','honey',555,66,'pankaj']
l2.clear()
print(l2)

[]

In [19]:
#5] REVERSE()
l3=['sachin',3,4,4,3,4,343,432,'pankaj']
l3.reverse()
print(l3)

['pankaj', 432, 343, 4, 3, 4, 4, 3, 'sachin']

In [21]:
#6] COPY()
l4=l3.copy()
print(l4)

['pankaj', 432, 343, 4, 3, 4, 4, 3, 'sachin']

In [27]:
#7] INDEX()
l4.index('pankaj')

0

In [34]:
#8]pop()
s=['ram','shayam','harry',55]
s.pop()
print(s)

['ram', 'shayam', 'harry']

In [35]:
#9] sort()
s.sort()
print(s)

['harry', 'ram', 'shayam']

In [37]:

#Task 3.2
# create a list of lenght = 10 and access 5th to 8th data.


list= [10,20,30,40,50,60,70,80,90,10]
print(list[4:8])

[50, 60, 70, 80]

# task 4
#2 problems |
In [ ]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [45]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

# task 4.1
In [ ]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [48]:
l2 = [1,2,[3,4,5,6],9]
l2[2].append([7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]


# task 5

From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [50]:

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [52]:
# access = "mike"

dict1["april_batch"]['student']['name']

'Mike'

In [54]:
# access = 80
dict1["april_batch"]['student']['marks']['python']

80

In [56]:
#change the mike to ur name

dict1["april_batch"]['student']['name']='sachin'
dict1

{'april_batch': {'student': {'name': 'sachin',
   'marks': {'python': 80, 'maths': 70}}}}

In [63]:
# add (marks) ML=80, dl=80

dict1["april_batch"]["student"]["marks"].update({"ML":80 ,"DL":80})
print(dict1)

{'april_batch': {'student': {'name': 'sachin', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}